{% extends "base.html" %}
{% block content %}
<div class="card p-4">
  <h3>Your Submissions</h3>

  <table class="table mt-3">
    <thead><tr><th>#</th><th>Assignment</th><th>PDF</th><th>Submitted At</th><th>Status</th><th>Marks</th></tr></thead>
    <tbody>
      {% for s in submissions %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ s.assignment.title if s.assignment else ('ID:' ~ s.assignment_id) }}</td>
        <td>
          {% if s.pdf_filename %}
            <a target="_blank" href="{{ url_for('student.serve_pdf', filename=s.pdf_filename) }}">View PDF</a>
          {% else %}
            -
          {% endif %}
        </td>
        <td>{{ s.submitted_at }}</td>
        <td>{{ s.status }}</td>
        <td>{{ s.marks if s.marks is not none else '-' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
