{% extends "base.html" %}
{% block content %}

<div class="card p-4 col-md-6 mx-auto">
    <h3>Add Calendar Event</h3>

    <form method="POST">
        <label class="mt-2">Title</label>
        <input class="form-control" name="title" required>

        <label class="mt-2">Description</label>
        <textarea class="form-control" name="description"></textarea>

        <label class="mt-2">Start Date & Time</label>
        <input class="form-control" type="datetime-local" name="start_datetime" required>

        <label class="mt-2">End Date & Time</label>
        <input class="form-control" type="datetime-local" name="end_datetime" required>

        <button class="btn btn-success mt-3">Add Event</button>
    </form>
</div>

{% endblock %}
