{% extends "base.html" %}
{% block content %}
<div class="card p-4">
    <h3>Submissions</h3>

    <table class="table mt-3">
        <thead>
        <tr><th>#</th><th>Student</th><th>PDF</th><th>Submitted</th></tr>
        </thead>
        <tbody>
        {% for s in submissions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ s.student_id }}</td>

            <td>
                {% if s.pdf_filename %}
                <a href="{{ url_for('static', filename='uploads/pdf/' ~ s.pdf_filename) }}"
                   target="_blank">View PDF</a>
                {% else %}
                -
                {% endif %}
            </td>

            <td>{{ s.submitted_at }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
